<!DOCTYPE HTML>
<html>
	<head>
		<title>Tomorrowland</title>
		<link rel="icon" href="images/tmland.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">Tomorrowland</a>
					<nav id="nav">
						<ul>
							<li><a href="/" style="font-family: 'Gloria Hallelujah', cursive;">Home</a></li><li>
							<a href="/generic" style="font-family: 'Gloria Hallelujah', cursive;">About</a></li><li>
							<a href="/elements" style="font-family: 'Gloria Hallelujah', cursive;">Announcements</a></li>
						</ul>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main">
				<div class="inner">
					<header class="major special">
						<h1 style="font-family: 'Pangolin', cursive;">Updates</h1>
						<p>To inform everyone for the upcoming Tomorrowland Music Festival. Check the information below.</p>
					</header>

					<!-- Text -->
					<section>
						<h4 style="font-family: 'Pangolin', cursive;">Tomorrowland 2017 Worldwide Ticket Sale : Date, Time, Cost and More</h4>
						<p>Tomorrowland music festival 2017 Worldwide Pre-sale was on 28th Jan 2017 and all the tickets were sold out in just 50 minutes. The Global Journey sale for Tomorrowland festival 2017 started on 21st Jan 2017 and most of the Global journey packages are sold out. We love People of Tomorrow for their immense love and fandom towards EDM biggest festival. The fans of Tomorrowland festival who has not got their tickets in Worldwide Pre-sale, get ready for the Tomorrowland 2017 Worldwide Ticket sale which is going to happen on 4th February 2017 at 17h00 CET. This may be the last chance for you guys to get the tickets to Tomorrowland Music festival 2017. Down below we are listing down the price of various tickets which are still available.</p>
						<ul class="actions">
							<li><a href="http://2017tomorrowland.com/worldwide-ticket-sale-2017.html" class="button alt">Learn More</a></li>
						</ul>

						<hr />

						<header>
							<h4 style="font-family: 'Pangolin', cursive;">Tomorrowland 2017 Lineup : Martin Garrix, Afrojack, Armin van Buuren and More</h4>
						</header>
						<p>Hello People of Tomorrow, we are here again with the latest information on Tomorrowland 2017 music festival. Tomorrowland 2017 has declared the first phase of lineup on 23rd Jan 2017. The first phase of Tomorrowland 2017 lineup includes all the famous World best DJs who are going to make you crazy in the two amazing weekends of the festival in Boom, Belgium. The theme of Tomorrowland 2017 is “Amoricum Spectaculum” meaning “show of friends” in Latin. This year, Tomorrowland has declared the list of DJs well in advance so that the fan of Tomorrowland music festival can book tickets based on the day of DJ performance of their choice. There are some DJs like Martin Garrix, Afrojack, Armin van Buuren and many more who are going to perform more than once in a weekend or in both the weekends of Tomorrowland 2017. The below Tomorrowland 2017 lineup will have more DJs who will be added in further declarations.</p>
						<ul class="actions">
							<li><a href="http://2017tomorrowland.com/tomorrowland-2017-lineup.html" class="button alt">Learn More</a></li>
						</ul>

						<header>
							<h4 style="font-family: 'Pangolin', cursive;">Tomorrowland Music Festival 2017 FAQ : Dates, Pre-Registration, Tickets, Global Journey and More</h4>
						</header>
						<p>Hello People of Tomorrow… Here we are again to list down some of the common questions and answers that every fan of Tomorrowland has regarding Tomorrowland music festival 2017. After reading this article, many of your queries and questions about Tomorrowland 2017 tickets, dates, pre-registration, global journey and many more like this will be clarified. We know, you all are waiting for Tomorrowland 2017 very eagerly and we hope your wait is going to be over soon.</p>
						<ul class="actions">
							<li><a href="http://2017tomorrowland.com/tomorrowland-festival-2017-faq.html" class="button alt">Learn More</a></li>
						</ul>
						<hr />

						<header>
							<h4 style="font-family: 'Pangolin', cursive;">Tomorrowland USA 2017 : Location, Price, Lineup and More</h4>
						</header>
						<p>Hi People of Tomorrow, we know you all are waiting for the tickets of Tomorrowland music festival 2017. You may have to wait a little more till the official declaration are done. Today, we are going to reveal all the information related to Tomorrowland USA 2017. Tomorrowland of USA is popularly also know as TomorrowWorld USA.</p>
						<ul class="actions">
							<li><a href="http://2017tomorrowland.com/tomorrowland-usa-2017.html" class="button alt">Learn More</a></li>
						</ul>
						
						<header>
							<h4 style="font-family: 'Pangolin', cursive;">Tomorrowland Music Festival : The Gatherings, DreamVille, Global Journey And More</h4>
						</header>
						<p>Hi People of Tomorrow, today we are going to make you aware about some of the terms that we use for the features provided by Tomorrowland. We can say in other words that we are going to explain some of the keywords of Tomorrowland Dictionary today, seems some jargon right??? Please do not worry, they are not too hard as technical jargon. You will feel amazed after knowing some of the very attractive things about Tomorrowland. Hope you enjoy reading this article.</p>
						<ul class="actions">
							<li><a href="http://2017tomorrowland.com/tomorrowland-music-festival.html" class="button alt">Learn More</a></li>
						</ul>
						<hr />

						<header>
							<h4 style="font-family: 'Pangolin', cursive;">Global Journey Tomorrowland 2017 : Flight Packages, Train Packages, Bus Packages and More</h4>
						</header>
						<p>Hi People of Tomorrow, we are back with information on Tomorrowland Global Journey. Today we are going to provide you all the necessary information about Tomorrowland global journey packages, cost and much more.</p>
						<ul class="actions">
							<li><a href="http://2017tomorrowland.com/tomorrowland-global-journey-2017.html" class="button alt">Learn More</a></li>
						</ul>
						
						<header>
							<h4 style="font-family: 'Pangolin', cursive;">Tomorrowland 2017 News : Updates like Global Journey, Lineup, Dates, Tickets, Location and More</h4>
						</header>
						<p>Here, we are going to update all the latest news and declarations made by Tomorrowland 2017 organisers. Announcements like Tomorrowland 2017 Global journey, Lineup, Dates, Tickets, Location and more will be posted to keep you updated. And today, we are going to announce something really amazing news for Tomorrowland fans who are willing to attend Tomorrowland 2017 music festival in Belgium. You will become crazy after reading this.</p>
						<ul class="actions">
							<li><a href="http://2017tomorrowland.com/tomorrowland-2017-news.html" class="button alt">Learn More</a></li>
						</ul>
						<hr />

						<h4 style="font-family: 'Pangolin', cursive;">Make sure to follow us on:</h4>
						<ul class="icons">
							<li><a href="https://www.twitter.com/tomorrowland" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/tomorrowland" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/tomorrowland" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.youtube.com/tomorrowland" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
							<li><a href="https://www.soundcloud.com/tomorrowland" class="icon fa-soundcloud"><span class="label">SoundCloud</span></a></li>
						</ul>
						<hr />
<!-- 						<div class="carousel">
    						<a class="carousel-item" href="#one!"><img src="http://lorempixel.com/250/250/nature/1"></a>
    						<a class="carousel-item" href="#two!"><img src="http://lorempixel.com/250/250/nature/2"></a>
    						<a class="carousel-item" href="#three!"><img src="http://lorempixel.com/250/250/nature/3"></a>
    						<a class="carousel-item" href="#four!"><img src="http://lorempixel.com/250/250/nature/4"></a>
    						<a class="carousel-item" href="#five!"><img src="http://lorempixel.com/250/250/nature/5"></a>
  						</div> -->
			<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<header>
						<h2>Get in Touch</h2>
					</header>
					<form method="post" action="#">
						<div class="field half first">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6"></textarea>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send Message" class="alt" /></li>
						</ul>
					</form>
					<div class="copyright">
						&copy; Created by: Cris Baldwin L. Viray
					</div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>