<!DOCTYPE HTML>
<html>
<head>
	<title>Tomorrowland</title>
	<link rel="icon" href="images/tmland.png">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css"/>
	<link href="https://fonts.googleapis.com/css?family=Sansita|Pangolin" rel="stylesheet">
</head>
<body>
	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="index.html" class="logo">Tomorrowland</a>
			<nav id="nav">
				<ul>
					<li><a href="/" style="font-family: 'Gloria Hallelujah', cursive;">Home</a></li><li>
					<a href="/generic" style="font-family: 'Gloria Hallelujah', cursive;">About</a></li><li>
					<a href="/elements" style="font-family: 'Gloria Hallelujah', cursive;">Announcement</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h1>Tomorrowland: <span>Spread Your Love To The World</span></h1>
		</div>
	</section>

	<!-- One -->
	<section id="one">
		<div class="inner">
			<header>
				<h2>Information</h2>
			</header>
			<p>Tomorrowland is an electronic music festival held in Boom, Belgium. Tomorrowland was first held in 2005, and has since become one of the world's largest and most notable music festivals. It now stretches over 2 weekends and usually gets sold-out in minutes.</p>
			<ul class="actions">
				<li><a href="/generic" class="button alt">Learn More</a></li>
			</ul>
		</div>
	</section>

	<!-- Two -->
	<section id="two">
		<div class="inner">
			<article>
				<div class="content">
					<header>
						<h3 style="font-family: 'Pangolin', cursive;">Tomorrowland 2016</h3>
					</header>
					<div class="video-container">
						<img src="images/tomorrow.jpg" frameborder="0"></iframe>
					</div>
					<p>Great People of Tomorrow, <br>The 13th magnificent edition of Tomorrowland came to a beautiful end. More than 200 nationalities wrote their unique story in this first chapter of The Elixir of Life. Friendships arose and created wonderful memories that will last forever… <br> Relieve all these magical moments and enjoy the Official 2016 Tomorrowland Aftermovie.</p>
				</div>
			</article>
			<article class="alt">
				<div class="content">
					<header>
						<h3 style="font-family: 'Pangolin', cursive;">Tomorrowland 2017</h3>
					</header>
					<div class="video-container">
						<iframe width="435" height="185" src="images/Tomorrowland Belgium 2017.mp4" frameborder="0"></iframe>
					</div>
					<p>Magic Will Happen... <br>Live Today Love Tomorrow Unite Forever</p>
				</div>
			</article>
		</div>
	</section>

	<!-- Footer -->
	<section id="footer">
		<div class="inner">
			<div class="copyright">
				&copy; Created by: Cris Baldwin L. Viray
			</div>
		</div>
	</section>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>